<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <h1> Your movies:</h1>
    <ul>
        <% movies.forEach(movie => { %>
            <li><%= movie %></li>
        <% }) %>
    </ul>
</body>
</html>